{% extends 'base.html' %}
{% load static %}
{% block body %}


<div class="background-col">

  <div class="container">
  <header class="text-center py-5 mb-4">

       <h1 class="font-weight-bold head">My Profile</h1>

  </header>
  </div>

   <div class="container">
     <div class="row">
       <!-- Team Member 1 -->
       <div class="col-xl-5 col-md-5">
         <div class="card border-0 shadow">
           <img src="{% static 'img/bulan.jpg' %}" class="card-img-top" alt="...">
           <div class="card-body text-center">
             <h5 class="card-title mb-0">Wulan Febyazzahra</h5>
             <ul class="list-unstyled mb-0">
               <!-- Facebook -->
               <a class="p-2 fa-lg fb-ic" href="https://www.linkedin.com/in/wulan-febyazzahra-86561a100/" target="_blank">
                 <i class="fab fa-linkedin text-black-50"> </i>
               </a>
               <!-- Twitter -->
               <a class="p-2 fa-lg tw-ic" href="https://twitter.com/bulanfeb_" target="_blank" >
                 <i class="fab fa-twitter text-black-50"> </i>
               </a>
               <!-- Instagram -->
               <a class="p-2 fa-lg ins-ic" href="https://www.instagram.com/bulanfeb/" target="_blank">
                 <i class="fab fa-instagram text-black-50"> </i>
               </a>
              </ul>
             
           </div>
         </div>
       </div>

       <div class="col-md-7">
           <ul class="accordion child">

               <li class='acc-list'>
                 <a class="panels" href="#">Activities</a>
                 <ul class="inside">
                     <li>I study at Fasilkom UI</li>
                     <li>I play with my friends</li>
                     <li>I listen to music</li>
                     <li>I try my best to code</li>
                 </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">Experiences</a>
                 <ul class="inside">
                   <li>Staff of Visual Design <strong>Setara SMAN 70</strong> </li>
                   <li>Head of <strong>Vocal Group SMAN 70 </strong> </li>
                   <li>PIC of Visual Design <strong> COMPFEST</strong> </li>
                   <li>Staff of Public Relation<strong> DPM Fasilkom UI</strong> </li>
                   <li>Public Relation Intern at <strong>R&R Public Relation</strong> </li>
                 </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">Achievements</a>
                 <ul class="inside">
                   <li>Accepted in Fasilkom UI</li>
                </ul>
               </li>

               <li class='acc-list'>
                 <a class="panels" href="#">Educations</a>
                 <ul class="inside">
                   <li>SD An-nisaa' Bintaro</li>
                   <li>SMP Labschool Kebayoran</li>
                   <li>SMAN 70 Jakarta</li>
                   <li>University of Indonesia, Computer Science Undergraduate</li>
                 </ul>
               </li>

          </div>
        </div>
        <div class="containerbrew">
          <button type="button" class="btn btn-warning nav-link theme">Change Theme</button>
        </div>
</div>
{% endblock body %}